<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OlympusBooking.Properties.Settings.databaseConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\App_Data\database.accdb"
            providerName="System.Data.OleDb" />
        <add name="OlympusBooking.Properties.Settings.databaseConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\database.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>