<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OlympusBooking.Properties.Settings.databaseConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\App_Data\database.accdb"
            providerName="System.Data.OleDb" />
        <add name="OlympusBooking.Properties.Settings.databaseConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\App_Data\database.accdb"
            providerName="System.Data.OleDb" />
        <add name="OlympusBooking.Properties.Settings.databaseConnectionString2"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\App_Data\database.accdb"
            providerName="System.Data.OleDb" />
        <add name="OlympusBooking.Properties.Settings.databaseConnectionString3"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\App_Data\database.accdb"
            providerName="System.Data.OleDb" />
        <add name="OlympusBooking.Properties.Settings.databaseConnectionString4"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\App_Data\database.accdb"
            providerName="System.Data.OleDb" />
        <add name="OlympusBooking.Properties.Settings.databaseConnectionString5"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\App_Data\database.accdb"
            providerName="System.Data.OleDb" />
        <add name="OlympusBooking.Properties.Settings.databaseConnectionString6"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\App_Data\database.accdb"
            providerName="System.Data.OleDb" />
        <add name="OlympusBooking.Properties.Settings.databaseConnectionString7"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\App_Data\database.accdb"
            providerName="System.Data.OleDb" />
        <add name="OlympusBooking.Properties.Settings.databaseConnectionString8"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\App_Data\database.accdb"
            providerName="System.Data.OleDb" />
        <add name="OlympusBooking.Properties.Settings.databaseConnectionString9"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\App_Data\database.accdb"
            providerName="System.Data.OleDb" />
        <add name="OlympusBooking.Properties.Settings.databaseConnectionString10"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\App_Data\database.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>